@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: "Poppins";
	
}

:root{
	--color-azul: #58BFCD;
	--color-white: #fff;
	--color-anaranjado: #fd654f;
	--color-link: #2653E3;
	--color-morado: #ad0cf6;
	--color-amarillo: #f6e900;
	--color-rojo: #f83a44;
	--color-negro: black;
}

body{
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	color: #888585;
}
.section{
	padding: 60px 0px;
}

/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/
header{
	padding: 20px 30px;
	border-bottom: 1px solid #ddd;
	background-color: var(--color-azul);
}
header img{
	width: 100px;
}
header .collapse .nav-item{
	font-size: 20px;
	color: #fff;
}
/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/



/*--------------------------------------------------------------
#  HERO HOMEPAGE
--------------------------------------------------------------*/
#hero h1 {
	font-family: "Poppins", sans-serif;
	color: var(--color-azul);
	font-weight: 600;
}
.hero-title {
	background-image: url("../img/4x/Recurso 2@4x.png");
	background-position: top right;
	background-size: auto;
	background-color: var(--color-white);
}
#hero .main-text{
	padding-left: 10%;
}
#hero .main-text p{
	font-size: 14px;
}
#hero .boton-top{
	margin: 80px 0px
}
#hero .btn-light1{
	margin: 0px 60px;
}
#hero .boton-top .btn-light-2{
	background-color: var(--color-anaranjado);
}
#hero .btn {
	border: 0px solid var(--color-link);
	border-radius: 30px;
	color: var(--color-white);
	font-size: 20px;
	font-weight: 500;
	padding: 5px 25px;
	background-color: var(--color-morado);
}
#hero .btn:hover{
	background-color: var(--color-white);
	border: 0px solid var(--color-morado); 
	border-radius: 30px;
	border-color: var(--color-morado);
	color: var(--color-morado); 
	
}
/*--------------------------------------------------------------
#  HERO HOMEPAGE
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# BLOG
--------------------------------------------------------------*/	

#historia{
	background-color: var(--color-azul);
}

#historia .info-historia{
	color: var(--color-white);
}

#historia .info-historia h2{
	font-size: 60px;
	font-weight: 700;
}

#categorias{
	background-color: var(--color-azul);
	padding: 50px;
}


#categorias i{
	align-items: center;
	color:  var(--color-white);
}

#categorias h4{
	color: var(--color-morado);
	text-align: center
}

#categorias p{
	color: var(--color-white);
	font-size: 16px;
	text-align: center;
}

#blog {
	color: var(--color-negro);
}

#blog h2{
	color: var(--color-rojo);
	font-size: 55px;
	
}

#categorias .artistblog .tarjeta h4{
	font-size: 25px;
	padding-top: 3%;
	font-weight: 600;
}

#categorias .artistblog .tarjeta p{
	font-size: 15px;
	padding: 1% 3%;
	font-weight: 600;
	color: var(--color-negro);
}

#categorias .artistblog .tarjeta{
	background-color: var(--color-white);
	padding-bottom: 7%;
	margin-bottom: 20px;
	position: inherit;
	border-radius: 20px;
}

#categorias .img-fluid{
	border-radius: 30px;
}

#categorias .tarjeta .expo{
	font-size: 25px;
	font-weight: 550;
	padding-top: 10px;
	color: white;
}

#categorias .line{
	color: var(--color-morado);
	height: 5px;
}

#categorias .tarjeta .fa-calendar{
	font-size: 30px;
	color: var(--color-morado)
}

#boton .btn{
	margin-top: 3%;
	background-color: white;
	color: var(--color-azul);
	border-color: var(--color-azul);
	border-width: 2px;
	border-radius: 20px;
	font-weight: 500;
	padding: 3px 50px;
}
/*--------------------------------------------------------------
# BLOG
--------------------------------------------------------------*/	
	
	





/*--------------------------------------------------------------
# Explora Porta
--------------------------------------------------------------*/	

#explora{
	padding-left: 4%;
}
#explora h2{
	color: var(--color-azul);
	font-size: 50px;
	font-weight: 550;
}
#explora u{
	color: var(--color-morado);
}

#explora p{
	color: black;
}
.portafolio-posts .filtros{
	background-color: white;
	margin-top: 2%;
}

#portafolio-posts .cards{
	margin: auto;
	margin-bottom: 2%;
	
}
.portafolio-posts article {
  background-color: var(--color-azul);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  padding: 10px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.portafolio-posts .post-img {
  max-height: 240px;
  margin: -30px -30px 15px -30px;
  overflow: hidden;
}
.portafolio-posts .post-category {
  font-size: 16px;
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  margin-bottom: 10px;
}
.portafolio-posts .title {
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  margin: 0 0 20px 0;
}
.portafolio-posts .title a {
  color: var(--heading-color);
  transition: 0.3s;
}
.portafolio-posts .title a:hover {
  color: var(--accent-color);
}
.portafolio-posts .post-author-img {
  width: 90px;
  border-radius: 50%;
  margin-right: 15px;
}
.portafolio-posts .post-author {
  font-weight: 600;
  margin-bottom: 5px;
	font-size: 25px;
	color: white;
}

#portafolio-posts h2{
	color: var(--color-azul);
	font-size: 50px;
	font-weight: 600;
}

#portafolio-posts p{
	padding-bottom: 3%;
}
#portafolio-posts u{
	color:var(--color-morado);
}
#portafolio-posts .form-inline{
	padding-bottom: 40px;
}

#explora .filtros h4{
	color: var(--color-azul);
	font-weight: 550;
	font-size: 25px;
}
	
	/*--------------------------------------------------------------
# Explora Porta
--------------------------------------------------------------*/







/*--------------------------------------------------------------
# TIENDA
--------------------------------------------------------------*/

.store-posts article {
  background-color: var(--surface-color);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  padding: 30px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.store-posts .post-img {
  max-height: 240px;
  margin: -30px -30px 15px -30px;
  overflow: hidden;
}
.store-posts .post-category {
  font-size: 16px;
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  margin-bottom: 10px;
}
.store-posts .title {
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  margin: 0 0 20px 0;
}
.store-posts .title a {
  color: var(--heading-color);
  transition: 0.3s;
}
.store-posts .title a:hover {
  color: var(--accent-color);
}
.store-posts .post-author-img {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.store-posts .post-author {
  font-weight: 600;
  margin-bottom: 5px;
}
.store-posts .post-date {
  font-size: 14px;
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  margin-bottom: 0;
}
#store-posts h1{
	color: var(--color-azul);
	font-size: 50px;
	font-weight: 600;
}
#store-posts u{
	color:var(--color-morado);
}
#store-posts .form-inline{
	padding-bottom: 40px;
}

/*--------------------------------------------------------------
# TIENDA
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# EXPLORA PROYECTOS
--------------------------------------------------------------*/
#explora-proyectos{
	background-color: var(--color-azul);
	color: var(--color-white);
}
#explora-proyectos h2{
	font-weight: 600;
	font-size: 50px
}
#explora-proyectos .color-pry{
	color: var(--color-amarillo);
}
#explora-proyectos p{
	font-size: 18px
}
#explora-proyectos .tarjeta-esteban,
#hero-title-3 .tarjeta-esteban{
	background-color: var(--color-white);
	padding: 60px 30px;
	text-align: center;
	border-radius: 10px;
	color: black;
	margin-bottom: 20px;
	background-image: url("../img/portfolios/art-esteban.jpg");
	background-size: cover;
	background-position: center;
	width: 205px;
	height: 195px;
}
#explora-proyectos .tarjeta-indiana,
#hero-title-3 .tarjeta-indiana{
	background-color: var(--color-white);
	padding: 60px 30px;
	text-align: center;
	border-radius: 10px;
	color: black;
	margin-bottom: 20px;
	background-image: url("../img/portfolios/art-indiana.jpg");
	background-size: cover;
	background-position: center;
	width: 205px;
	height: 195px;
}
#explora-proyectos .tarjeta-marcela,
#hero-title-3 .tarjeta-marcela{
	background-color: var(--color-white);
	padding: 60px 30px;
	text-align: center;
	border-radius: 10px;
	color: black;
	margin-bottom: 20px;
	background-image: url("../img/portfolios/art-marcela.jpg");
	background-size: cover;
	background-position: center;
	width: 205px;
	height: 195px;
}
#explora-proyectos .tarjeta-allison,
#hero-title-3 .tarjeta-allison{
	background-color: var(--color-white);
	padding: 60px 30px;
	text-align: center;
	border-radius: 10px;
	color: black;
	margin-bottom: 20px;
	background-image: url("../img/portfolios/art-allison.jpg");
	background-size: cover;
	background-position: center;
	width: 205px;
	height: 195px;
}
#explora-proyectos .tarjeta-lesly,
#hero-title-3 .tarjeta-lesly{
	background-color: var(--color-white);
	padding: 60px 30px;
	text-align: center;
	border-radius: 10px;
	color: black;
	margin-bottom: 20px;
	background-image: url("../img/portfolios/art-lesly.jpg");
	background-size: cover;
	background-position: center;
	width: 205px;
	height: 195px;
}
#explora-proyectos .tarjeta-carla,
#hero-title-3 .tarjeta-carla{
	background-color: var(--color-white);
	padding: 60px 30px;
	text-align: center;
	border-radius: 10px;
	color: black;
	margin-bottom: 20px;
	background-image: url("../img/portfolios/art-carla.jpg");
	background-size: cover;
	background-position: center;
	width: 205px;
	height: 195px;
}
#explora-proyectos .tarjeta-alejandro,
#hero-title-3 .tarjeta-alejandro{
	background-color: var(--color-white);
	padding: 60px 30px;
	text-align: center;
	border-radius: 10px;
	color: black;
	margin-bottom: 20px;
	background-image: url("../img/portfolios/art-alejandro.jpg");
	background-size: cover;
	background-position: center;
	width: 205px;
	height: 195px;
}
#explora-proyectos .tarjeta-alessandro,
#hero-title-3 .tarjeta-alessandro{
	background-color: var(--color-white);
	padding: 60px 30px;
	text-align: center;
	border-radius: 10px;
	color: black;
	margin-bottom: 20px;
	background-image: url("../img/portfolios/art-alessandro.jpg");
	background-size: cover;
	background-position: center;
	width: 205px;
	height: 195px;
}			
#explora-proyectos h5{
	font-size: 16px;
	padding: 0px 0px 40px 0px;
}
#explora-proyectos .tarjeta{
	background-color: var(--color-white);
	padding: 40px 20px;
	border-radius: 30px;
	color: var(--color-white);
	text-align: center;
	background-image: url("../img/photography.jpg");
	background-size: cover;
	background-position: center;
}
#explora-proyectos .fotos{
	padding: 50px 0px;
}
#explora-proyectos .tarjeta-2{
	background-color: var(--color-white);
	padding: 40px 20px;
	border-radius: 30px;
	color: var(--color-white);
	text-align: center;
	background-image: url("../img/animation.png");
	background-size: cover;
	background-position: center;
}
#explora-proyectos .categorias h3{
	font-weight: 500;
}
#explora-proyectos .tarjeta h3{
	font-weight: 700;
}
/*--------------------------------------------------------------
# EXPLORA PROYECTOS
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# EXPLORA COMUNIDAD
--------------------------------------------------------------*/
#explora-proyectos .tarjeta-2 h3{
	font-weight: 700;
}
#explora-comunidad h2{
	font-weight: 600;
	color: var(--color-azul);
}
#explora-comunidad .tarjeta {
	background-color: var(--color-azul);
	color: var(--color-white);
	padding: 0px 10px 0px 0px;
	margin-bottom: 10px;
	display: flex;
    align-items: center;
    width: 85%;
    border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
#explora-comunidad .tarjeta .img-viernes{
     width: 300px;
     height: 150px;
     object-fit: cover;
	  border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
#explora-comunidad .tarjeta-contenido {
    padding: 10px;
    color: var(--color-white);
	font-size: 18px;
}
#explora-comunidad .arte h2{
	font-size: 50px;
	font-weight: 600;
}
#explora-comunidad .arte p{
	font-size: 18px;
	color: black;	
}
#explora-comunidad .boton-down{
	margin: 30px 0px
}
#explora-comunidad .btn-light1{
	margin: 0px 30px;
}
#explora-comunidad .btn {
	border: 0px solid var(--color-link);;
	border-radius: 30px;
	color: var(--color-white);
	font-size: 18px;
	font-weight: 700;
	padding: 8px 75px;
	background-color: var(--color-morado);
}
#explora-comunidad .btn:hover{
	background-color: var(--color-white);
	border: 0px solid var(--color-morado); 
	border-radius: 30px;
	border-color: var(--color-morado);
	color: var(--color-morado); 
	
}
#explora-comunidad .boton-down .btn-light-2{
	background-color: var(--color-rojo);
}
#explora-comunidad .boton-down .btn-light-2:hover{
	background-color: var(--color-white);
	border: 0px solid var(--color-morado); 
	border-radius: 30px;
	border-color: var(--color-morado);
	color: var(--color-rojo); 
	
}
/*--------------------------------------------------------------
# EXPLORA COMUNIDAD
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
footer {
	background-color: var(--color-amarillo);
	color: var(--color-white);
	padding: 30px 30px;
	background: linear-gradient(to right, #00c1d0 50%, #f6e900 50%)
}
footer h4 {
	font-size: 25px;
	font-weight: 600;
}
footer ,p {
	font-size: 15px;
	text-align: left;
}
footer li a{
	background-color: var(--color-blanco);
	color: var(--color-blanco);
	width: 30px;
	display: block; 
	text-align: center;
	border-radius: 4px;
	font-size: 35px;
	padding: 0px 50px 0px 0px;
}
footer a{
	color: var(--color-white);
}
/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Explora portafolios
--------------------------------------------------------------*/
#hero-title{
	padding: 30px 0px;
}
#hero-title h2{
	font-size: 50px;
	color: var(--color-azul);
	font-weight: 600;
}
#hero-title .color-herra{
	color: var(--color-rojo);
}
#hero-title p{
	color: black;
	font-size: 16px;
}
#hero-title .tarjeta {

	background-color: var(--color-azul);
	color: var(--color-white);
	padding: 0px 10px 0px 0px;
	margin-bottom: 10px;
	display: flex;
    align-items: center;
    width: 100%;
    border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
#hero-title .tarjeta .img-viernes{
     width: 400px;
     height: 200px;
     object-fit:fill;
	 border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
#hero-title .tarjeta-contenido {
    padding: 10px 0px;
    color: var(--color-white);
	font-size: 18px;
}
#hero-title .tarjeta-contenido a{
	color: white;
	border-radius: 4px;
}
#hero-title .btn {
	border: 2px solid var(--color-azul);
	border-radius: 30px;
	color: var(--color-azul);
	font-size: 20px;
	font-weight: 750;
	padding: 5px 55px;
	background-color: var(--color-white);
}
#hero-title .btn:hover{
	background-color: var(--color-azul);
	border: 2px solid var(--color-azul); 
	border-radius: 30px;
	color: var(--color-white); 
	
}
#hero-title .busqueda{
	padding: 70px 20px 0px 20px;
}
#hero-title .busqueda h4{
	color: var(--color-azul);
	text-align: center;
	font-size: 28px;
}
#hero-title .busqueda p{
	border:  2px solid var(--color-azul); 
	color: white;
	border-radius: 10px;
	text-align: center;
}
#hero-title .checkbox-container{
	padding-bottom: 20px;
}
.checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.checkbox-input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.checkbox-text {
    font-size: 18px;
    color: var(--color-azul);
	font-weight: 500;
}
/*--------------------------------------------------------------
# Explora Portafolios
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# RECURSOS Y HERRAMIENTAS
--------------------------------------------------------------*/
header .temas{
	text-align: center;
	color: #FFF;
}
#hero-title-2 .main-text{
	padding-left:20%;
	padding-right: 20%;
}
#hero-title-2 h2{
	color: var(--color-azul);
	font-size: 50px;
	font-weight: 500;
}
#hero-title-2 p,
#hero-title-2 h2{
	text-align: center;
	
}
#hero-title-2 .color-quest{
	color: var(--color-amarillo);
}
#hero-title-2 h2 {
	color: #58BFCD;
	font-weight: 600;
}
#hero-title-2 .color-pry {
	font-color: #f6e900;
	
}
#hero-title-2 {
	text-align: center;
}
/*--------------------------------------------------------------
# RECURSOS Y HERRAMIENTAS
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# FAQ
--------------------------------------------------------------*/
#dudas .btn-light{
	border: 1px solid var(--color-azul);
	border-radius: 11;
	color: #58BFCD;
	font-weight: 700px;
	padding: 10px 60px;
	background-color: var(--color-azul)
}
#dudas .btn-light:hover{
	border: 2px solid var(--color-azul);
	border-radius: 11;
	color: #58BFCD;
	font-weight: 700px;
	padding: 10px 60px;
	background-color: white;
}
#dudas {
	text-align: center;
	color: #58BFCD;
	font-weight: 800;
}
#dudas .preguntas{
	padding-bottom: 10px;
	margin-bottom: 30px;
	font-weight: 700;
	font-size: 18px;
	color: white;
}
#dudas .mas-quest h2{
	font-weight: 700;
	font-size: 40px;
}
#dudas .mas-quest h4{
	text-align: center;
	font-size: 18px;
	color: var(--color-rojo);
	padding-top: 20px;
}
#dudas .mas-quest .navbar-light{
	color: white;
	border-radius: 10px;
	text-align: center;
	width: 25%;
	margin: auto;
}
.accordion .accordion-body{
	font-weight: 500;
	font-size: 15px;
}
/*--------------------------------------------------------------
# FAQ
--------------------------------------------------------------*/

#hero-title-3 h2{
	color: var(--color-azul);
	font-weight: 600;
	font-size: 50px;
}
#hero-title-3 .color-herra {
	color: var(--color-rojo);
	
}
#hero-title-3{
	text-align: left;
}
#hero-title-3 .lupa{
	border:  2px solid var(--color-azul); 
	color: var(--color-white);
	border-radius: 20px;
	text-align: center;
	width: 30%;
	background-color: var(--color-azul);
	margin-top: 10%;
	margin-left: 20%;
}
#hero-title-3 .contactos{
	color: var(--color-negro);
}
#hero-title-3 .btn{
	background-color: var(--color-rojo);
	color: white;
	border-radius: 20px;
	padding: 5px 40px;
	margin-bottom: 5%;
}



/*--------------------------------------------------------------
# FORM DE CONTACTO
--------------------------------------------------------------*/
#form-contact{
	background-color: var(--color-morado);
}
#form-contact input,
#form-contact textarea{
	padding: 15px;
	border: 0;
	border-radius: 0;
}
#form-contact .btn{
	background-color: var(--color-azul);
	border-radius: 3;
	padding: 15px 0;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
}
#form-contact .titulo-grande,
#form-contact .subtitulo{
	color: var(--color-white);
}
/*--------------------------------------------------------------
# FORM DE CONTACTO
--------------------------------------------------------------*/




/*--------------------------------------------------------------
# APARTADOS
--------------------------------------------------------------*/
#apartados .btn-light{
	border: 3px solid #58BFCD;
	border-radius: 11;
	color: #58BFCD;
	font-weight: 700px;
	padding: 10px 60px
}
#apartados {
	text-align: center;
	color: #58BFCD;
	font-weight: 800;
}
#apartados .apartados{
	padding-bottom: 20px;
}
#apartados .comunidad h2{
	font-weight: 500;
	font-size:20px;
}
#apartados .comunidad h4{
	text-align: center;
	font-size: 18px;
	color: var(--color-rojo);
	padding-top: 20px;
}
.comunidad .navbar-light{
	color: white;
	border-radius: 10px;
	text-align: center;
	width: 25%;
	margin: auto;
}
#apartados .comunidad p{
	border:  2px solid var(--color-azul); 
	color: white;
	border-radius: 10px;
	text-align: center;
	width: 25%;
	margin: auto;
}
/*--------------------------------------------------------------
# APARTADOS
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# SOBRE NOSOTROS
--------------------------------------------------------------*/
#hero-title-4 .main-text h2{
	color: var(--color-azul);
}
#hero-title-4 .main-text{
	padding-left: 10%;
}
#hero-title-4 .main-text p{
	color: var(--color-negro);
}
#historia{
	background-color: var(--color-azul);
}
#historia .info-historia{
	color: var(--color-white);
}
#historia .info-historia h2{
	font-size: 60px;
	font-weight: 700;
}
#myv .mision{
	background-color: var(--color-morado);
	border-radius: 10px;
	padding: 30px;
	color: white;
}
#myv h3{
	font-size: 40px;
	font-weight: 600;
}
#myv .vision{
	background-color: var(--color-anaranjado);
	border-radius: 10px;
	padding: 30px;
	color: white;
	text-align:  right;
}
#myv p{
	font-size: 16px;
}
/*--------------------------------------------------------------
# Sobre Nosotros
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# EVENTOS COMUNIDAD
--------------------------------------------------------------*/
main {
    display: flex;
    padding: 20px;
    gap: 20px;
}
.eventos-comunidad, .proximos-eventos {
    width: 50%;
}
.eventos-comunidad h2, .proximos-eventos h3 {
    color: #57BFCD;
    font-size: 28px;
    margin-bottom: 10px;
	
}
.proximos-eventos .evento-card img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    border-radius: 5px;
}
.eventos-lista{
	
	color: #F8F8F8;
	
}
.botones {
    margin-bottom: 20px;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-weight: 600;
}
.ultimos-eventos {
    background-color: #AB05EE;
    color: white;
	
}
.foros-destacados {
    background-color: #ff4242;
    color: white;
}
.eventos-lista .evento {
    display: flex;
    background-color: #57BFCD;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	
}
.evento-card{
	color: #57BFCD;	
	
}
.evento img {
    width: 150px;
    height: 100px;
    margin-right: 15px;
    border-radius: 5px;
}
.proximos-eventos .evento-card {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}
.proximos-eventos .evento-card img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    border-radius: 5px;
}
.evento-info p {
    margin-bottom: 5px;
}
.social a {
    margin-right: 10px;
}
@media (max-width: 768px) {
    main {
      flex-direction: column;
}
.eventos-comunidad, .proximos-eventos {
        width: 100%;
}
header, footer {
    flex-direction: column;
    align-items: center;
}
nav ul {
    flex-direction: column;
    align-items: center;
}
nav ul li {
    margin-left: 0;
    margin-bottom: 10px;
}	
/*--------------------------------------------------------------
# Eventos Comunidad
--------------------------------------------------------------*/	
	

